:root {
  --first-color: #2e94b9;

  --second-color: #475053;

  --third-color: #acdcee;

  --fourth-color: #f0fbff;

  --heading-font: "Playpen Sans", cursive;

  --second-font: "PT Sans", sans-serif;
}

h1 {
  margin-top: 50px;
  font-family: var(--heading-font);
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  color: var(--second-color);
}

h2 {
  font-family: var(--second-font);
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: var(--second-color);
}
footer {
  font-weight: bold;
  color: var(--second-color);
  font-family: var(--second-font);
}
.navbar {
  color: var(--fourth-color);
  font-family: var(--second-font);
}
.hero {
  background: var(--third-color);
  padding: 60px 0;
}

.grid-title {
  font-size: 25px;
  font-family: var(--second-font);
  color: var(--second-color);
}
.aboutMe-description,
.projects-description,
.contactMe-description,
.aboutMe-details,
.aboutMe-details,
.education-details,
.professionalLife-details,
.mentalHealth-description,
.weatherApp-description,
.croissants-description {
  font-size: 18px;
  color: var(--second-color);
  line-height: 30px;
  font-family: var(--second-font);
}

.aboutMe-header,
.education-header,
.professionalLife-header {
  background-color: var(--first-color);
  color: white;
  font-weight: normal;
  font-family: var(--second-font);
}
.certificates {
  display: block;
  margin: 0 auto;
  justify-content: space-evenly;
}

.socialmedia {
  text-decoration: none;
}
.knowMe,
.bookWithMe {
  color: var(--second-color);
}
.bookWithMe,
.row-knowMe {
  font-weight: bold;
  background-color: var(--fourth-color);
  font-family: var(--second-font);
}
.contactMe-link {
  text-decoration: none;
}
.email-link {
  color: black;
}
.email-link:hover {
  color: rgb(13, 110, 253);
}
.getintouch {
  font-size: 40px;
  font-weight: bold;
  font-family: var(--second-font);
  color: var(--second-color);
}
.row-sm {
  background-color: var(--fourth-color);
}

.contactEmail,
.contactPhone,
.social-media {
  color: var(--first-color);
  font-family: var(--second-font);
}
.email-link,
.phone-nr,
.Ln,
.Ig,
.Fb {
  color: var(--second-color);
  font-family: var(--second-font);
}
.learn-more {
  background-color: var(--first-color);
  border-color: var(--first-color);
}
.learn-more:hover {
  background-color: var(--third-color);
  border-color: var(--third-color);
  color: var(--second-color);
}

@media (max-width: 576px) {
  .learn-more {
    display: block;
  }
  .fa-brands {
    margin-bottom: 10px;
  }
  img {
    display: block;
    margin: 0 auto;
    width: 300px;
  }
}
